@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@500&display=swap');
body{
    background-image: linear-gradient(to right, #6700ff, #00ffdb);
}
#usernameAndPass{
    margin-top: 18%;
    text-align: center;
}
#usernameAndPass label, #usernameAndPass h2{
    font-family: 'Poppins', sans-serif;
    color: #ffffff;
}
#usernameAndPass input{
    font-family: 'Poppins', sans-serif;
}
#usernameAndPass button{
    width: 100px;
    height: 40px;
    border-radius: 5px;
    font-family: 'Poppins', sans-serif;
    transition: all 0.4s;
}
button:hover{
    background-color: #464646;
}